body, html {
  background-color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

.screen {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

#icon-background {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: -50% 0;
  padding: 50% 0;
  background-image: url("../img/circle-icon.svg");
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white; }

#logo {
  position: absolute;
  top: 32%;
  width: calc(41.6666666667% - 28.3333333333px);
  float: left;
  margin-left: 20px;
  margin-left: calc(29.1666666667% - 25.8333333333px + 40px);
  height: 36%;
  display: block;
  background: white;
  background-image: url("../img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 260px;
  -webkit-box-shadow: 0 20px 70px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 20px 70px rgba(0, 0, 0, 0.3);
  box-shadow: 0 20px 70px rgba(0, 0, 0, 0.3); }

.feature, #main-description {
  position: relative;
  display: inline-block; }

#main-description {
  margin-top: 40%; }

h1, h2 {
  font-family: "Raleway", sans-serif;
  font-size: 3.45em;
  color: #343434;
  text-align: center;
  margin-bottom: 0; }

#main-title {
  width: calc(58.3333333333% - 31.6666666667px);
  float: left;
  margin-left: 20px;
  margin-left: calc(20.8333333333% - 24.1666666667px + 40px); }

#main-subtitle {
  width: calc(66.6666666667% - 33.3333333333px);
  float: left;
  margin-left: 20px;
  margin-left: calc(16.6666666667% - 23.3333333333px + 40px); }

p {
  font-family: "Muli", sans-serif;
  font-size: 1.5em;
  line-height: 1.6em;
  color: #B4B4B4; }
  p a {
    font-family: "Muli", sans-serif;
    color: #E93270;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    p a:hover {
      color: #f077a0; }

.subtitle {
  margin-top: 15px;
  text-align: center; }

.left {
  text-align: left;
  width: 90%;
  margin-left: 12%; }

.video {
  display: block;
  width: calc(66.6666666667% - 33.3333333333px);
  float: left;
  margin-left: 20px;
  margin-left: calc(16.6666666667% - 23.3333333333px + 40px);
  height: 400px;
  margin-top: 30px;
  margin-bottom: 10%;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 0 40px 60px rgba(75, 75, 75, 0.1);
  -moz-box-shadow: 0 40px 60px rgba(75, 75, 75, 0.1);
  box-shadow: 0 40px 60px rgba(75, 75, 75, 0.1); }

#combinations {
  height: 80%;
  width: calc(91.6666666667% - 38.3333333333px);
  float: left;
  margin-left: 20px;
  margin-left: calc(4.1666666667% - 20.8333333333px + 40px); }

h2 {
  font-size: 2.6em; }

#divisor-left {
  position: relative;
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px;
  top: 50%;
  transform: translateY(-50%); }

#feature-photo {
  position: relative;
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px;
  height: 100%;
  background-image: url("../img/user-input.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

#opensource {
  width: calc(58.3333333333% - 31.6666666667px);
  float: left;
  margin-left: 20px;
  margin-left: calc(20.8333333333% - 24.1666666667px + 40px);
  margin-top: 10%;
  height: 70%; }

#github-buttons {
  text-align: center; }

#bugs {
  margin-top: 40px; }

#download {
  display: block;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 1000;
  height: 65px;
  width: 15%;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  line-height: 15px;
  color: #343434;
  text-decoration: none;
  background-color: white;
  border-radius: 120px;
  -webkit-box-shadow: 0 10px 40px rgba(75, 75, 75, 0.3);
  -moz-box-shadow: 0 10px 40px rgba(75, 75, 75, 0.3);
  box-shadow: 0 10px 40px rgba(75, 75, 75, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  #download:hover {
    -webkit-box-shadow: 0 5px 40px rgba(75, 75, 75, 0.1);
    -moz-box-shadow: 0 5px 40px rgba(75, 75, 75, 0.1);
    box-shadow: 0 5px 40px rgba(75, 75, 75, 0.1);
    color: #4e4e4e; }

#download-grouper {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

#version {
  font-family: "Muli", sans-serif;
  font-size: 14px;
  color: #B4B4B4; }

/*# sourceMappingURL=main.css.map */
