@import "bourbon/bourbon";
@import "neat/neat";
@import "mixins";

$bold-font: 'Raleway', sans-serif;
$regular-font: 'Muli', sans-serif;

$dark-color: #343434;
$light-color: #B4B4B4;
$red-color: #E93270; 

$medium-down: (
  media: "(max-width: 980px)",
);

$small-down: (
  media: "(max-width: 755px)",
);

$micro-down: (
  media: "(max-width: 550px)",
);

body , html {
	background-color: white;
	margin: 0;
	padding: 0; 

	width: 100%; 
	height: 100%;
}

section {
	min-height: 300px;

	 @include grid-media($micro-down) {
    height: 100%;
  }
}

.screen{
	position: relative;
	margin: 0;
	padding: 0; 

	width: 100%; 
	height: 100%;
} 

#icon-background {
	display: block;
	width: 100%; 
	height: 100%;
	position: absolute; 
	margin: -50% 0; 
	padding: 50% 0; 
	background-image: url("../img/circle-icon.svg");
	background-size: 125%;
  background-repeat: no-repeat;
  background-position: center;
	background-color: white; 


	@include grid-media($medium-down) {
    background-size: 140%; 
  }

  @include grid-media($small-down) {
    background-size: 150%; 
  }

  @include grid-media($micro-down){
  	background-size: 240%; 
  }
}

#logo {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	@include grid-column(6);
	@include grid-push(3);
	padding-bottom: 26.4%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 

	display: block;
	background: white;
	background-image: url("../img/logo.png");
	background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

	border-radius:260px;
	@include box-shadow(0, 20px, 70px, rgba(0,0,0,0.3));

	@include grid-media($medium-down) {
    @include grid-column(8);
    @include grid-push(2);
    padding-bottom: 35.11%; 
  }

   @include grid-media($micro-down){
  	@include grid-column(12);
    @include grid-push(0);
    padding-bottom: 52.66%; 
  }


}

.feature {
	position:relative;
	display: inline-block;
}

#main-description {
	@extend .feature; 
	margin-top: 40%;

	@include grid-media($medium-down) {
    margin-top: 35%;
  }

  @include grid-media($small-down) {
    margin-top: 25%;
  }

  @include grid-media($micro-down) {
    margin-top: 60%;
  }
}

h1 {
 	font-family: $bold-font;
	font-size: 3.45em;
	color: $dark-color;
	text-align: center; 
	margin-bottom: 0; 

	@include grid-media($small-down) {
    font-size: 2.6em;
  }
}

#main-title {
	@include grid-column(7);
	@include grid-push(2.5);

	@include grid-media($medium-down) {
    @include grid-column(10);
    @include grid-push(1);
  }

  @include grid-media($micro-down) {
    @include grid-column(12);
    @include grid-push(0);
  }
}

#main-subtitle {
	@include grid-column(8);
	@include grid-push(2);

	@include grid-media($medium-down) {
    @include grid-column(10);
    @include grid-push(1);
  }

  @include grid-media($micro-down) {
    @include grid-column(12);
    @include grid-push(0);
  }
}

p {
	font-family: $regular-font; 	
	font-size: 1.5em;
	line-height: 1.5em; 
	color: $light-color;

	a {
	font-family: $regular-font; 	
	color: $red-color;
	text-decoration: none;
	@include transition(all 0.2s ease-in-out);
		&:hover {
			color: lighten($red-color, 15%);
		} 
	}

	@include grid-media($micro-down) {
		font-size: 1.3em;
	line-height: 1.3em;   }
}

.subtitle {
	margin-top: 15px;
	text-align: center; 
}

.left {
	text-align: left;
	width: 90%; 
	margin-left: 12%; 

	@include grid-media($medium-down) {
		width: 100%; 
		margin-left: 0; 
		text-align: center;
  }

}
.video-container {
	display:block;

	//Responsive container
	position: relative; 
	padding-bottom: 36.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 

	@include grid-column(8);
	@include grid-push(2);
	margin-top: 30px; 
	margin-bottom: 10%;


	border-radius: 10px;
	background-color: white; 
	@include box-shadow(0, 40px, 90px, rgba(75,75,75,.3));

	@include grid-media($medium-down) {
    @include grid-column(10);
    @include grid-push(1);
    padding-bottom: 45.21%;
  }

   @include grid-media($micro-down) {
    @include grid-column(12);
    @include grid-push(0);
    padding-bottom: 52.37%;
  }
}

.video-container iframe, .video-container object, .video-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}


#combinations {
	height: 80%;
	@include grid-column(11);
	@include grid-push(0.5);

	@include grid-media($medium-down) {
		@include grid-column(12);
		height: 100%;
    margin-top: 5%;
    margin-bottom: 2%; 
  }

  @include grid-media($micro-down) {
		@include grid-column(12);
		height: 100%;
    margin-top: 20%;
    margin-bottom: 0; 
  }
}

h2 {
	@extend h1;
	font-size: 2.6em;

	@include grid-media($micro-down) {
  	font-size: 2.3em;
  }
}

#divisor-left {
	position:relative;
	@include grid-column(6);
	@include vertical-alignment(50%);

	@include grid-media($medium-down) {
    @include grid-column(12);
    @include vertical-alignment(0);
  }
}

#feature-photo {
	position:relative;
	@include grid-column(6);
	height: 100%; 

	background-image: url("../img/user-input.png");
	background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @include grid-media($medium-down) {
    @include grid-column(11);
    @include grid-push(0.5);
    height: 70%;
  }
  @include grid-media($micro-down) {
    @include grid-column(12);
    @include grid-push(0);
    height: 50%;
  }


}

#opensource {
	display: inline-block;
	@include grid-column(7);
	@include grid-push(2.5);
	margin-top: 10%;
	height: 70%; 
	min-height: 500px;

	@include grid-media($medium-down) {
   	@include grid-column(10);
   	@include grid-push(1);
  }

  @include grid-media($small-down) {
  	margin-top: 15%;
   	@include grid-column(12);
   	@include grid-push(0);
  }

   @include grid-media($micro-down) {
  	margin-top: 25%;
   	@include grid-column(12);
   	@include grid-push(0);
  }
}

#github-buttons {
	text-align:center;
}

.github-button {
	position:relative;
	margin: 10px; 
}

#bugs {
	margin-top: 40px; 
}

#download{
	position: fixed; 
	right: 20px; 
	top: 20px; 
	z-index: 1000;

	width: 15%;
	height: 70px;
	text-align: center; 

	display: flex;
	align-items: center; 

	padding: 0 20px; 

	font-family: $bold-font; 
	font-size: 16px; 
	line-height: 15px; 
	color: $dark-color; 
	text-decoration: none; 

	background-color: white; 
	border-radius: 120px; 
	@include box-shadow(0, 10px, 50px, rgba(75,75,75,.3));

	@include transition(all 0.3s ease-in-out);

	&:hover {
		@include box-shadow(0, 5px, 40px, rgba(75,75,75,.1));
		color: lighten($dark-color, 10%);

		#download-icon {
			opacity: 0.6;
		}
	}

	@include grid-media($medium-down) {
		position: absolute;
  	width: 20%;
  }

  @include grid-media($small-down) {
  	width: 28%;
  }

   @include grid-media($micro-down) {
  	width: 45%;
  }
} 

#download-icon {
	display: block;
	height: 60%; 
	width: 20%;
	opacity: 0.4;

	background-image: url("../img/download-icon.svg");
	background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @include transition(all 0.3s ease-in-out);
}

#download-grouper {
	width: 75%; 
	margin-left: 5%;
}

#version {
	position:relative;
	top: 3px; 
	font-family: $regular-font; 
	font-size: 13px; 
	color: $light-color
}

.white {
	color: white; 
}

#donate {
	background-color: $red-color; 
	height: 60%;
	width: 100%;  
}

#donate-wrapper {
	position:relative;
	@include grid-column(8);
	@include grid-push(2);
	@include vertical-alignment(50%);

	@include grid-media($medium-down) {
    @include grid-column(10);
		@include grid-push(1); 
  }

  @include grid-media($small-down) {
    @include grid-column(12);
		@include grid-push(0); 
  }
}

#donate-title {
	margin-top: 0; 
}

#donate-subtitle {
	opacity: 0.6;
	margin-top: 8px; 
}

#donate-button {
	display: flex;
	position: relative; 

	background-color: white; 

	width: 18%; 
	height: 45px;
	padding: 10px; 

	font-family: $bold-font; 
	font-size: 18px; 
	line-height: 15px; 
	color: $dark-color; 
	text-decoration: none; 

	margin: 20px auto 0 auto; 
	align-items: center; 

	border-radius: 120px; 
	@include box-shadow(0, 8px, 50px, rgba(75,75,75,.45));
	@include transition(all 0.3s ease-in-out);

	span {
		width: 70%; 
		text-align: center;
		margin-left: -2px; 
	}

	&:hover {
		@include box-shadow(0, 8px, 50px, rgba(75,75,75,.15));

		#donate-icon {
			opacity: 0.8;
		}
	}

	@include grid-media($medium-down) {
    width: 26%; 
  }

  @include grid-media($micro-down) {
    width: 55%;
  }
}

#donate-icon {

	display: block;
	height: 80%; 
	width: 30%;
	opacity: 0.4;

	background-image: url("../img/heart-icon.svg");
	background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  @include transition(all 0.3s ease-in-out);
}










