@import "bourbon/bourbon";
@import "neat/neat";
@import "mixins";


body {
	background-color: white;
	margin: 0;
	padding: 0; 
}

.screen{
	position: absolute;
	margin: 0;
	padding: 0; 

	width: 100%; 
	height: 100%;
	
	display: block; 
	background-image: url("../img/circle-icon.svg");
	background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
	background-color: white; 
} 

#logo {
	position: absolute;
	top: 29%;

	@include grid-column(5);
	@include grid-push(3.5);
	height: 42%; 

	display: block;
	background: white;
	background-image: url("../img/logo.png");
	background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

	border-radius:260px;
	@include box-shadow(0, 20px, 90px, rgba(0,0,0,0.2));
}
