@import "bourbon/bourbon";
@import "neat/neat";
@import "mixins";

$bold-font: 'Raleway', sans-serif;
$regular-font: 'Muli', sans-serif;

$dark-color: #343434;
$light-color: #B4B4B4;

body , html {
	background-color: white;
	margin: 0;
	padding: 0; 

	width: 100%; 
	height: 100%;
}

.screen{
	position: relative;
	margin: 0;
	padding: 0; 

	width: 100%; 
	height: 100%;
} 

#icon-background {
	display: block;
	width: 100%; 
	height: 100%;
	position: absolute; 
	margin: -50% 0; 
	padding: 50% 0; 
	background-image: url("../img/circle-icon.svg");
	background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
	background-color: white; 
}

#logo {
	position: absolute;
	top: 32%;

	@include grid-column(5);
	@include grid-push(3.5);
	height: 36%; 

	display: block;
	background: white;
	background-image: url("../img/logo.png");
	background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

	border-radius:260px;
	@include box-shadow(0, 20px, 70px, rgba(0,0,0,0.3));
}

.feature {
	position:relative;
	display: inline-block;
}

#main-description {
	@extend .feature; 
	margin-top: 40%;
}

h1 {
 	font-family: $bold-font;
	font-size: 3.45em;
	color: $dark-color;
	text-align: center; 
	margin-bottom: 0; 

}

#main-title {
	@include grid-column(7);
	@include grid-push(2.5);
}

#main-subtitle {
	@include grid-column(8);
	@include grid-push(2);
}

p {
	font-family: $regular-font; 	
	font-size: 1.5em;
	line-height: 1.6em; 
	color: $light-color;

	a {
	font-family: $regular-font; 	
	color: #E93270;
	text-decoration: none;
	@include transition(all 0.2s ease-in-out);
		&:hover {
			color: lighten(#E93270, 15%);
		} 
	}
}


.subtitle {
	margin-top: 15px;
	text-align: center; 
}

.left {
	text-align: left;
	width: 90%; 
	margin-left: 12%; 

}
.video {
	display: block;

	@include grid-column(8);
	@include grid-push(2);
	height: 400px; 
	margin-top: 30px; 
	margin-bottom: 10%;

	border-radius: 10px; 
	background-color: white; 
	@include box-shadow(0, 40px, 60px, rgba(75,75,75,.1));
}

#combinations {
	height: 80%;
	@include grid-column(11);
	@include grid-push(0.5);
}

h2 {
	@extend h1;
	font-size: 2.6em;
}

#divisor-left {
	position:relative;
	@include grid-column(6);
	top: 50%;
	transform: translateY(-50%);
}

#feature-photo {
	position:relative;
	@include grid-column(6);
	height: 100%; 

	background-image: url("../img/user-input.png");
	background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#opensource {
	@include grid-column(7);
	@include grid-push(2.5);
	margin-top: 10%;
	height: 70%; 
}

#github-buttons {
	text-align:center;
}

#bugs {
	margin-top: 40px; 
}

#download{
	display: block; 
	position: fixed; 
	right: 20px; 
	top: 20px; 
	z-index: 1000;

	height: 65px;
	width: 15%;
	text-align: center; 

	font-family: $bold-font; 
	font-size: 17px; 
	line-height: 15px; 
	color: $dark-color; 
	text-decoration: none; 

	background-color: white; 
	border-radius: 120px; 
	@include box-shadow(0, 10px, 40px, rgba(75,75,75,.3));

	@include transition(all 0.3s ease-in-out);

	&:hover {
		@include box-shadow(0, 5px, 40px, rgba(75,75,75,.1));
		color: lighten($dark-color, 10%);
	}
} 

#download-grouper {
	position: relative; 
	top: 50%;
	transform: translateY(-50%);
}

#version {
	font-family: $regular-font; 
	font-size: 14px; 
	color: $light-color
}



